<div class="global">
    <div class="container">
            <p class="nom">Nombre: {{currency.currencyName}}</p>
            <p class="ape">Simbolo: {{currency.currencySymbol}}</p>
            <p> valor: {{currency.currencyValue}}</p>
            <div class="cont-btn">
                <button class="logbtn" (click)="borrarMoneda()">Borrar moneda</button>
                <button class="logbtn" (click)="modalEditar.showModal()">Editar moneda</button>
            </div>
            <dialog method="modal" #modalEditar>
                <app-create-currency (cerrarModal)="modalEditar.close()" [currency]="currency"></app-create-currency>
            </dialog>
    </div>
</div>
