<div class="global">
    <div class="container">
        
        <div class="card subFree">
            <div class="card-header">
                <h2>Subscripcion Free</h2>
            </div>
            <div class="card-body">
                <p>Subscripcion gratuita con acceso a todas las funcionalidades de la aplicacion</p>
                <button class="btn" (click)="freeSubscription()">Cambiar</button>
            </div>
        </div>
        <div class="card subTrial">
            <div class="card-header">
                <h2>Subscripcion Trial</h2>
            </div>
            <div class="card-body">
                <p>Subscripcion estandar con acceso a todas las funcionalidades de la aplicacion</p>
                <button class="btn" (click)="trialSubscription()">Cambiar</button>
            </div>
        </div>
        <div class="card subPro">
            <div class="card-header">
                <h2>Subscripcion Pro</h2>
            </div>
            <div class="card-body">
                <p>Subscripcion de paga con acceso a todas las funcionalidades de la aplicacion</p>
                <button class="btn" (click)="proSubscription()">Cambiar</button>
            </div>
        </div>
        <div class="card cancelsub">
            <div class="card-header">
                <h2>Cancelar suscripcion</h2>
            </div>
            <div class="card-body">
                <p>Eliminar mi suscripcion</p>
                <button class="btn" (click)="cancelSub()">Eliminar</button>
            </div>
    </div>
</div>
