@use "./../../../assets/variables.scss";
.global {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, variables.$color-loginyregister,  variables.$color-principal);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Reducir el espacio entre las tarjetas */
  flex-wrap: wrap;
  width: 90%; /* Aumentar el ancho del contenedor de las tarjetas */
}

.card {
  background: variables.$color-gris-puro;
  backdrop-filter: blur(15px);
  border: 1px solid variables.$color-gris-puro;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  flex: 1 0 25%; /* Reducir el ancho mínimo de las tarjetas */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  color: variables.$color-blanco-puro;
}

.btn{
  background: variables.$color-principal;
  color: variables.$color-blanco-puro;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
  &:hover{
    background: variables.$color-blanco-puro;
    color: variables.$color-oscuro-puro;
  }
}

/* ... */

/* Para pantallas de hasta 1920px */
@media (max-width: 1920px) {
  .card {
    flex: 1 0 25%;
  }
}

/* Para MacBook de 13 pulgadas */
@media (min-width: 1200px) and (max-width: 1440px) {
  .card {
    flex: 1 0 40%;
  }
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .card {
    flex: 1 0 100%;
  }
}