<div class="global">
    <div class="container">
        <div class="subFree">
            <h2>Subscripcion Free</h2>
            <p>Subscripcion gratuita con acceso a todas las funcionalidades de la aplicacion</p>
            
            <button (click)="freeSubscription()">Cambiar</button>
        </div>
        <div class="subTrial">
            <h2>Subscripcion Trial</h2>
            <p>Subscripcion de prueba con acceso a todas las funcionalidades de la aplicacion</p>
            <button (click)="trialSubscription()">Cambiar</button>
        </div>
        <div class="subPro">
            <h2>Subscripcion Pro</h2>
            <p>Subscripcion de paga con acceso a todas las funcionalidades de la aplicacion</p>
            <button (click)="proSubscription()">Cambiar</button>
        </div>
    </div>
</div>

