<div class="global">
    <div class="container">
        <div class="design">
            <div class="fil4"></div>
        </div>
        <div class="login">
            <div class="fil1 rotate"></div>
            <div class="fil2 rotate"></div>
            <form #form="ngForm" (ngSubmit)="onSubmit()">
            <h3 class="title">{{currency.currencySymbol?"Editar moneda":"Agregar moneda"}}<span class="point">.</span></h3>
            <div class="textinput">
                <input type="text" placeholder="Ingrese nombre de la moneda"  name="name"  [(ngModel)]="currency.currencyName">
            </div>
            <div class="textinput">
                <input type="text" placeholder="Ingrese simbolo de la moneda" name="symbol" [(ngModel)]="currency.currencySymbol">
            </div>
            <div class="textinput">
                <input type="text" placeholder="Ingrese valor de la moneda" name="value" [(ngModel)]="currency.currencyValue">
            </div>
            <button  type="submit"  class="logbtn">crear</button>
            <button type="button"  class="logbtn" (click)="cerrarModal.emit()" >Cancelar</button>
    </form>
    </div>
</div>
</div>
