@use "./../../../assets/forms.scss";

.global {
    background-image: url(../../../assets/CurrencyCreation.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }