@use "./../../../assets/variables.scss";
.counter{
    display: grid;
    height: 50px;
    place-items: center;
    margin: 0;
    background-color: variables.$color-principal;
    font-size: 1.3rem;
    color: #1f1f1f;
}