@use "./../../../assets/variables.scss";
.counter{
    display: grid;
    height: 50px;
    place-items: center;
    margin: 0;
    background-color: variables.$color-blanco-puro;
    font-size: 1.3rem;
    color: variables.$color-oscuro-puro;
}