<div class="global">
    <div class="inp-conversion">
        <select [(ngModel)]="fromconversion">
            <option *ngFor="let conversion of fromConversions" [value]="conversion.currencySymbol">{{conversion.currencySymbol}}</option>
        </select>
        <select [(ngModel)]="toconversion">
            <option *ngFor="let conversion of toConversions" [value]="conversion.currencySymbol">{{conversion.currencySymbol}}</option>
        </select>
        <input type="text" [(ngModel)]="quantity" placeholder="Quantity">
    </div>
    <div class="btn">
        <button (click)="exchange()">Exchange</button>
        <button (click)="swap()">Swap</button>
    </div>
    <div class="result">
    <p>{{this.conversionresult}}</p>
    </div>
</div>