@use "./../../../assets/variables.scss";

.inp-conversion {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin: 0 auto;
    width: 20rem;

    input[type="text"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

    &:focus {
        border-color: variables.$color-principal;
        outline: none;
        box-shadow: 0 0 5px variables.$color-principal;
    }

    &::placeholder {
        color: #aaa;
    }
    }
}
.btn {
    display: grid;
    place-items: center;
    margin-top: 20px;

    button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:first-child {
        background-color: variables.$color-principal;
        color: white;

        &:hover {
        background-color: variables.$color-primario-claro;
        }
    }

    &:last-child {
        background-color: #6c757d;
        color: white;

        &:hover {
        background-color: #5a6268;
        }
    }
    }
}
.result {
    display: grid;
    place-items: center;
    height: 50px;
    width: 100%;
    margin: 30px auto 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: variables.$color-secundario;

    p {
    font-size: 18px;
    color: #333;
    }
}
