@use "./../../../assets/variables.scss";


.inp-conversion {
  display: grid;
  grid-template-columns: auto;
  align-items: start;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
  max-width: 500px;
  height: 100%;
  select, input[type="text"], input[type="number"] {
      box-sizing: border-box;
      width: 100%;
      padding: 1rem;
      margin-bottom: 10px;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;

      &:focus {
          border-color: variables.$color-principal;
          outline: none;
          box-shadow: 0 0 5px variables.$color-principal;
      }

      &::placeholder {
          color: variables.$color-gris-puro;
      }
  }
}

.btn {
    display: grid;
    place-items: center;
    margin-top: 30px;
    button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:first-child {
        background-color: variables.$color-principal;
        color: variables.$color-blanco-puro;

        &:hover {
        background-color: variables.$color-primario-claro;
        }
    }

    &:last-child {
        background-color: variables.$color-gris-puro;
        color: white;

        &:hover {
        background-color: variables.$color-blanco-puro;
        color: variables.$color-oscuro-puro;
        }
    }
    }
}
.result {
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: variables.$color-principal;
    p {
    font-size: 18px;
    color: variables.$color-blanco-puro;
    }
}

@media (max-width: 1440px) {
    .btn{
      margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .inp-conversion {
      width: 100%;
      max-width: 250px;
    }
  
    .btn {
      margin-top: 20px;
    }
  
    .result {
      margin-top: 20px;
    }
  
    .container {
      width: 100%;
      margin: 0;
    }
    
    .container p {
      text-align: center;
    }
  }
  