<div class="global">
    <div class="container">
        <div class="design">
            <div class="fil4"></div>
        </div>
        <div class="login">
            <div class="fil1 rotate"></div>
            <div class="fil2 rotate"></div>
            <form #form="ngForm" (ngSubmit)="register()">
            <h2 class="title">Registrarme</h2>
            <div class="textinput">
                <input type="text" placeholder="Ingrese nombre del usuario" [required]="true" [minlength]="2" [maxlength]="25" name="firstname" [(ngModel)]="userForCreation.name" #firstname="ngModel" pattern="^[a-zA-Z\s]*$">
                <p class="error" *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">Ingrese un nombre válido</p>
            </div>
            <div class="textinput"> 
                    <input type="text" id="lastname" [required]="true" [minlength]="2" [maxlength]="25" placeholder="Ingrese apellido del usuario" name="lastname" [(ngModel)]="userForCreation.lastName" #lastname="ngModel" pattern="^[a-zA-Z\s]*$">
                    <p class="error" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">Ingrese un apellido válido</p>                  
            </div>
            <div class="textinput">
                <input type="email" placeholder="Ingrese email del usuario" [required]="true" [minlength]="10" [maxlength]="35" name="email" [(ngModel)]="userForCreation.email">
            </div>
            <div class="textinput">
                <input type="password" placeholder="Ingrese password del usuario" [required]="true" [minlength]="6" [maxlength]="64" name="passw" [(ngModel)]="userForCreation.password">
            </div>
            <div class="textinput">
                <input type="text" placeholder="Ingrese username del usuario" [required]="true" [minlength]="6" name="user" [(ngModel)]="userForCreation.username">
            </div>
            <button  type="submit" [disabled]="form.invalid" class="logbtn">Registrarme</button>
            <p>¿Posees una cuenta? - <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Ingresa</a></p>
    </form>
    </div>
</div>
</div>