<div class="global">
    <div class="container">
            <p class="nom">Nombre: {{userForCreation.name}}</p>
            <p class="ape">Apellido: {{userForCreation.lastName}}</p>
            <p> Email: {{userForCreation.email}}</p>
            <p class="ape">Usuario: {{userForCreation.username}}</p>
            <p class="ape">Rol: {{userForCreation.role}}</p>
            <p class="ape">Cambios restantes: {{userForCreation.subCount}}</p>
            <div class="cont-btn">
                <button class="logbtn" (click)="borrarUsuario()">Borrar ususario</button>
                <button class="logbtn" (click)="modalEditar.showModal()">Editar usuario</button>
            </div>
            <dialog method="modal" #modalEditar>
                <app-create-user (cerrarModal)="modalEditar.close()" [userForCreation]="userForCreation"></app-create-user>
            </dialog>
    </div>
</div>

