@use "./../../../assets/variables.scss";
.global{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: variables.$color-blanco-puro;
    font-size: large;
    letter-spacing: 1px;
}
app-profile-icon{
    //hacerlo tama;o icono peque;o
    width: 20px;
    height: 20px;
}