@use "../assets/variables.scss";
//-----CONTAINERS-----
.global{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; //ver si se puede cambiar por si falla en otros dispositivos
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    //background:linear-gradient(to bottom right, #1a429c, #1b2a4a);
    //background: variables.$color-principal;
    background-image: url(../assets/LoginRegisterScreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

h2{
    font-size: 2.5rem;
    color: variables.$color-blanco-puro;
    margin-bottom: 20px;
    text-align: center;

}

.container{
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "login design";
    box-shadow: 0 0 17px 10px rgb(0,0,0,30%);
    border-radius: 20px;
    overflow: hidden;
    //transition: box-shadow 0.1s, transform 0.1s;
}
//-----DESIGN-----

.design{
    grid-area: design;
    display: none;
    position: relative;
    margin: 0 auto;
}

.login{
    grid-area: login;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

select,input{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.login h3.title{
    font-size: 1.3rem;
    margin: 15px 0;
    color: #fff;
}
//pointer
.point{
    color: #00A86B;
}

.textinput{
    height: 40px;
    display: flex;
    width: 60%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin: 5px 0;
    background: variables.$color-oscuro;
    font-size: large;
    overflow: hidden;
}
.textinput input,select{
    color: #fff;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    background: variables.$color-oscuro;
}


::placeholder{
    color: #9a9a9a;
    

}

// -----HOVER-----

/*
.container:hover{
    box-shadow: 0 0 17px 10px rgb(0,0,0,30%);
    transform: scale(1.02);
}*/

//-----BUTTONS-----
.logbtn{
    width: 68%;
    padding: 10px;
    color: white;
    //element
    background: variables.$color-secundario;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    &[disabled]{
        background: gray;
        cursor: not-allowed;
    }
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    color: red;
    font-size: 0.8rem;
}
a{
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}
.forgot{
    margin-top: 15px;
}
.create{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 75px;
}

//-----MEDIA-----
@media (max-width: 768px) {
    .global {
        height: 100vh;
    }

    .container {
        width: auto;
        height: 90vh;
        grid-template-columns: 100%;
        grid-template-areas: "login";
    }

    .login {
        width: 100%;
        padding: 20px;
    }

    .textinput {
        width: 100%;
    }

    .logbtn {
        width: 100%;
    }
}