$alto-header:100px;
$alto-footer:16px;
$alto-body: calc(100vh - $alto-header - $alto-footer);

$fuente: -apple-system, BlinkMacSystemFont, sans-serif;


$color-principal: #0E173A;
$color-oscuro: #0e182d;
$color-primario-claro: #6478a7;
$color-secundario: #4caf50;
$color-secundario-claro: #00A86B;
$color-secundario-oscuro: #00695C;
$color-terciario: #FF5722;
$color-oscuro-puro:#000000;
$color-blanco-puro:#FFFFFF;
$color-gris-puro:#535e75;
$color-loginyregister:#152B65;