@use "./../../../assets/variables.scss";
.global{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    background-color: variables.$color-blanco-puro;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    margin: 1rem;
    width: 800px;
}


@media (max-width: 768px) {//crear tamaño de pantalla para dispositivos moviles apto
    .global{
        grid-template-rows: auto;
        grid-template-columns:repeat(3, 1fr) ;
        width: 80%;
        
    }
}


