.global{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    margin: 1rem;
    width: 800px;
}

